html {
  font-size: 62.5%;
  /* scroll-behavior: smooth;*/
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  /* width: 100%; */
  position: relative;
  /* position: absolute; */
  box-sizing: border-box;
  background-color: #9cbeb2;
  font-size: 4rem;
  font-weight: 400;
  text-transform: lowercase;
  color: #f4e5c3;
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
}

a {
  transition-duration: 0.4s;
}

a:link,
a:visited,
a:hover {
  color: #f4e5c3;
  text-decoration: none;
}
